body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
}
.btnb {
  border: none;
  font-size: 20px;
  border-radius: 5px;
}
.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.video {
  border: 1px solid #dee2e6;
}

.btn-navigate {
  border: none;
  border-radius: 7px;
  padding: 10px;
  background-color: green;
  color: #fff;
}
.error {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(211, 207, 207);
}
.error > h1 {
  font-size: 7rem;
  font-weight: bold;
  font-style: italic;
}
